body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

.flex-wrapper {
  display: flex;
}

.column {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 10px;
}

header {
  background-color: #00ab3a;
  color: #fff;
}

.owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 1em 0;
}

.owner__name {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0.25em 0.5em 0 0;
}

.owner__contacts {
  font-size: 1em;
}

.owner__contacts a {
  color: #fff;
}

.owner__contacts a:hover {
  opacity: 0.9;
}

.contact {
}

.contact__title {
  display: inline-block;
  width: 61px;
}

.contact__content {
}

.topic {
  padding-top: 1.5em;
}

.topic__title {
  font-size: 2em;
}

.topic__content {
  padding: 0.75em 0;
  font-size: 1.2em;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10%;
}

@media screen and (max-width: 600px) {
  .skills {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.skills__column {
  flex-basis: 1;
  padding-bottom: 15px;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.experience-item__company {
  width: 286px;
  padding: 0 10px 15px 0;
}

.experience-item__responsibilities {
  max-width: 60%;
  min-width: 380px;
  padding-bottom: 15px;
}

.clip {
  display: inline-block;
  vertical-align: bottom;
  width: 198px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.with-marker {
  position: relative;
  padding-left: 20px;
}

.with-marker::before {
  content: '\2022 ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
