body,
html {
  margin: 0;
  padding: 0;
}

body {
  min-width: 280px;
  color: #435c6f;
  font: 14px/1.4 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: #435c6f;
}

ol,
ul {
  list-style-type: none;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
}

.page-content {
  padding: 50px 10px 50px;
  margin: 0 auto;
  max-width: 768px;
}

/* Header */
.header {
  background: #f0f2f4;
}

.header__content {
  padding: 20px 10px 20px;
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-wrap: wrap;
}

.header__left {
  width: 200px;
  margin-right: 20px;
}

.header__center {
}

.header__photo {
  width: 200px;
}

.header__photo img {
  width: 100%;
}

/* Owner */
.owner {
  padding: 10px 0 0;
}

.owner__name {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.owner__position {
  margin: 10px 0 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.owner__contacts {
  margin: 20px 0 0;
}

.owner__contact {
  margin: 0 0 5px;
  display: flex;
}

.owner__contact:last-child {
  margin-bottom: 0;
}

.owner__contact-label {
  width: 80px;
}

/* Topic */
.topic {
  margin: 0 0 40px;
}

.topic__title {
  margin: 0 0 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: #296794;
}

.topic__content {
}

.link {
  text-overflow: ellipsis;
  width: 174px;
  white-space: nowrap;
  overflow: hidden;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__left {
  padding-right: 15px;
  width: 25%;
}

.skills__center {
  width: 75%;
}

.skill-list {
  margin: 0 0 15px;
  padding: 7px 0 0;
  position: relative;
  overflow: hidden;
}

.skill-list__item {
  margin: 0 2px 2px 0;
  padding: 5px 10px;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  float: left;
  border-radius: 3px;
  background: #40b3f3;
  cursor: default;
}

.skill-list__item:hover {
  opacity: 0.9;
}

.skill-list__item_highlight {
  background: #296794;
}

.skills-list_additional .skill-list__item {
  background: #8ea8c2;
}

.skills__title {
}

/* Experience */
.experience {
  display: flex;
  flex-wrap: wrap;
}

.experience__left {
  flex-grow: 1;
  min-width: 135px;
  padding-right: 15px;
  width: 25%;
}

.experience__center {
  flex-grow: 1;
  width: 75%;
}

/* Company */
.company {
  padding: 10px 0;
}

.company__name {
  font-weight: bold;
}

.company__name_right {
  text-align: right;
}

.company__position {
}

.company__dates {
  font-size: 13px;
  opacity: 0.8;
}

/* Project */
.project {
  margin: 0 0 20px;
  padding: 10px;
  background: #f0f2f4;
}

.project ul li {
  padding-left: 15px;
  position: relative;
}

.project ul li:before {
  content: '\2022';
  position: absolute;
  left: 0;
  top: 0;
}

.project__title {
  font-weight: bold;
}

.project__subtitle {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

.project__title + .project__subtitle {
  margin-top: 10px;
}

.project__text {
  margin: 0 0 10px;
}

.project__text:last-child {
  margin-bottom: 0;
}

/* Additional */
.additional {
}

.additional ul li {
  padding-left: 15px;
  position: relative;
}

.additional ul li:before {
  content: '\2022';
  position: absolute;
  left: 0;
  top: 0;
}

/* Download */
.download {
  text-align: center;
  padding: 20px 20px 0;
}

.download__btn {
  text-decoration: none;
}
