body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: #435c6f;
  font: 14px/1.4 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  color: #435c6f;
}

ol,
ul {
  list-style-type: none;
}

.page-wrapper {
  position: relative;
}

.page-content {
  padding: 50px 0 50px;
  margin: 0 auto;
  max-width: 768px;
}

/* Header */
.header {
  background: #f0f2f4;
}

.header__content {
  padding: 20px 0 20px;
  margin: 0 auto;
  max-width: 768px;
  display: flex;
}

.header__left {
  width: 200px;
}

.header__center {
  margin-left: 20px;
}

.header__photo {
  width: 200px;
}

.header__photo img {
  width: 100%;
}

/* Owner */
.owner {
  padding: 10px 0 0;
}

.owner__name {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.owner__position {
  margin: 10px 0 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}

.owner__contacts {
  margin: 20px 0 0;
}

.owner__contact {
  margin: 0 0 5px;
  display: flex;
}

.owner__contact:last-child {
  margin-bottom: 0;
}

.owner__contact-label {
  width: 80px;
}

/* Topic */
.topic {
  margin: 0 0 40px;
}

.topic__title {
  margin: 0 0 10px;
  font-size: 24px;
  text-transform: uppercase;
}

.topic__content {
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .skills {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.skills__column {
  flex-basis: 1;
  margin-right: 40px;
}

.skills__column:last-child {
  margin-right: 0;
}

.skills__title {
  font-weight: bold;
}

/* Experience */
.experience {
  display: flex;
  flex-wrap: wrap;
}

.experience__left {
  width: 25%;
}

.experience__center {
  width: 75%;
}

/* Company */
.company {
  padding: 10px 0;
}

.company__name {
  font-weight: bold;
}

.company__position {
}

.company__dates {
  font-size: 13px;
  opacity: 0.8;
}

/* Project */
.project {
  margin: 0 0 20px;
  padding: 10px;
  background: #f0f2f4;
}

.project__title {
  font-weight: bold;
}

.project__subtitle {
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

.project__title + .project__subtitle {
  margin-top: 10px;
}

.project__text {
  margin: 0 0 10px;
}

.project__text:last-child {
  margin-bottom: 0;
}

/* Additional */
.additional {
}
